@import '../../../parameters.scss';

/*
 * Layout
 */

.bulgur-aside-view
{
    display: flex;
    overflow: hidden;
    flex-direction: column;

    // padding: $base-gutter;
    // padding-right: $large-gutter;
    // padding-left: $large-gutter;

    border-right: 1px solid $primary-color;

    .bulgur-slides
    {
        overflow: auto;

        max-height: 100%;

        flex: 5;
    }
    
    > button
    {
        display: block;

        padding: $medium-gutter 0 $medium-gutter $medium-gutter;

        text-align: left;
    }
    > button:first-of-type
    {
        border-bottom: 1px solid $primary-color;
    }
    > button:last-of-type
    {
        border-top: 1px solid $primary-color;
    }
}
