@import '../../../parameters.scss';

/*
 * Layout
 */

.bulgur-aside-view
{
    display: flex;
    flex-direction: column;

    padding: $base-gutter;
    padding-right: $large-gutter;
    .quinoa-slide
    {
        // min-width: 15rem;
        min-height: 3rem;
        margin: $base-gutter 0 $base-gutter;
        padding: $large-gutter;

        color: $primary-color;
        border: 1px solid $background-intent!important;
        &.selected
        {
            border: 6px solid $primary-color!important;
        }
        &:hover:not(.selected) .quinoa-slide-title
        {
            border-bottom: 1px solid white!important;
        }
        &:hover:not(.selected),
        &:hover:not(.selected) .CodeMirror,
        &:hover:not(.selected) .quinoa-slide-title-input
        {
            color: $background-default!important;
            background: $background-intent!important;
        }
        .quinoa-slide-title-hashtag
        {
            cursor: move;
        }
    }
    .quinoa-slide-title table,
    .quinoa-slide-title table .quinoa-slide-title-input
    .quinoa-slide-title td
    {
        width: 100%;
    }
    > button
    {
        display: block;

        text-align: left;

        padding: $medium-gutter 0 $medium-gutter $medium-gutter;
    }
    > button:first-of-type
    {
        border-bottom: 1px solid $primary-color;
    }
    > button:last-of-type
    {
        border-top: 1px solid $primary-color;
    }
}
