@import '../../../parameters.scss';

/*
 * Layout
 */

.bulgur-aside-view
{
    display: flex;
    flex-direction: column;

    padding: $base-gutter;
    padding-right: $large-gutter;
}

.bulgur-aside-view .quinoa-slide
{
    min-width: 15rem;
    min-height: 3rem;
    margin: $base-gutter 0 $base-gutter;
    padding: $large-gutter;

    color: $primary-color;
    border: 1px solid $background-intent!important;
}

.bulgur-aside-view .quinoa-slide.selected
{
    border: 6px solid $primary-color!important;
}

.bulgur-aside-view .quinoa-slide:hover:not(.selected),
.bulgur-aside-view .quinoa-slide:hover:not(.selected) .CodeMirror,
.bulgur-aside-view .quinoa-slide:hover:not(.selected) .quinoa-slide-title-input
{
    color: $background-default!important;
    background: $background-intent!important;
}

.bulgur-aside-view .quinoa-slide:hover:not(.selected) .quinoa-slide-title
{
    border-bottom: 1px solid white!important;
}


.bulgur-aside-view > button
{
    display: block;

    text-align: left;
}

.bulgur-aside-view > button:first-of-type
{
    border-bottom: 1px solid $primary-color;
}
.bulgur-aside-view > button:last-of-type
{
    border-top: 1px solid $primary-color;
}
