@import '../../../parameters.scss';

/*
 * Primary layout
 */

.bulgur
{
    font-family: $main-font-stack;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;


    color: $primary-color;
    background: $background-default;

    .bulgur-main-row
    {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex: 10;
        .bulgur-aside-view
        {
            max-width: 20%;

            flex: 1;
        }

        .bulgur-main-view
        {
            min-width: 80%;
            margin: 0;

            flex: 4;
        }
    }

    .bulgur-footer{
        flex: 1;
        z-index: 1;
        max-height: 2rem;
    }

    .bulgur-icon-image
    {
        display: inline;

        width: 1em;
        height: 1em;
        padding-right: .5em;
    }
}

.ReactModal__Content button
{
    margin-right: $medium-gutter;
    padding: $medium-gutter;

    color: $primary-color;
    border: 1px solid $background-intent;
    outline: none;
    background: inherit;
}

/*
 * Responsive layout adjustments
 */

@media #{$breakpoint-phone}
{
    .bulgur
    {
        flex-direction: column;
    }

    .bulgur .bulgur-aside-view
    {
        flex-direction: row;

        max-width: 100%;

        order: 2;
    }
    .bulgur .bulgur-aside-view .quinoa-editor
    {
        flex: 1;
    }
}
@media #{$breakpoint-tablet}
{
}

/*
 * Generic components styling
 */
.bulgur button,
.bulgur input,
.bulgur textarea
{
    font-family: inherit;
    font-size: 1rem;

    border: none;
    outline: none;
    background: inherit;
}

.bulgur button:hover,
.bulgur input:hover,
.bulgur textarea:hover,
.bulgur input:focus,
.bulgur textarea:focus
{
    cursor: pointer;

    background: $background-intent;
}
