@import '../../../parameters.scss';

/*
 * Layout
 */

.bulgur-main-view
{
    display: flex;

    flex-flow: column nowrap;

    .visualizations-row
    {
        position: relative;

        display: flex;

        flex-flow: row nowrap;
        flex: 3;

        .bulgur-settings-pannel
        {
            flex: 1;
        }

        .visualizations-container
        {
            position: relative;

            display: flex;
            overflow: hide;

            flex: 5;
            flex-flow: row nowrap;
            .visualization-container
            {
                height: 100%;

                flex: 1;
            }
        }
    }

    .caption-container
    {
        position: relative;

        max-height: 40%;
        padding: $medium-gutter;
        padding-top: 0;

        border-top: 1px solid $primary-color;

        flex: 1;

        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;

        .caption-header
        {
            display: flex;
            align-items: stretch;
            flex-flow: row nowrap;
            border-bottom: 1px solid $primary-color;
            padding-bottom: $base-gutter;
            overflow: hidden;
            h1
            {
                margin: 0;
                padding: 0;
                padding-top: $base-gutter;
                padding-right: $base-gutter;
                flex: 5;
                input
                {
                    width: 100%;
                    height: 3rem;
                    font-size: 1.5rem;
                }
            }
        }

        .caption-editor
        {
            flex: 5;

            display: flex;

            width: 100%;
            height: 100%;
            margin: 0;

            flex-grow: row nowrap;
            .editor-areas-container
            {
                display: flex;

                margin-right: $base-gutter;

                flex: 8;
                flex-flow: column nowrap;
                align-items: stretch;
            }

            .editor-helpers li
            {
                padding: 0;

                list-style: none;
            }

            .editor-areas-container
            {
                font-family: $display-font-stack;
                font-size: 1.5rem;

                flex: 1;

                .bulgur-draft-editor
                {
                    height: 100%;
                }
            }
        }
    }

    /*
     * Specific components styling
     */

    .view-operations button
    {
        padding: $medium-gutter;

        border: 1px solid $primary-color;
        border-top: none;
        border-bottom: none;
        height: 115%;
        &:last-of-type
        {
            border-left: none;
        }
    }
}
