/**
 * style definitions for the DraftEditor component
 *
 * @module bulgur/components/DraftEditor
 */
@import '../../parameters.scss';

.bulgur-draft-editor
{
    font-size: 1rem;

    display: flex;

    padding: $base-gutter;

    transition: all $time-short ease;

    flex-flow: column nowrap;
    align-items: stretch;

    .DraftEditor-root
    {
        position: relative;

        overflow-y: auto;

        padding: $base-gutter;

        cursor: text;
        transition: background $time-short ease;

        flex: 5;

        .public-DraftEditorPlaceholder-inner
        {
            font-style: italic;

            position: absolute;
            top: $base-gutter/2;
            left: $base-gutter;

            opacity: .5;
        }
    }

    .rich-buttons
    {
        display: flex;

        margin-bottom: $medium-gutter;
        padding-top: $base-gutter;
        padding-bottom: $base-gutter;

        border-bottom: 1px solid black;

        flex-flow: row nowrap;
        align-content: space-between;

        .buttons-group
        {
            &:first-of-type
            {
                flex: 1;
            }
        }
    }

    &.focused .DraftEditor-root,
    &:hover .DraftEditor-root
    {
        background: $background-intent;
    }
}
