/**
 * style definitions for the DraftEditor component
 *
 * @module bulgur/components/DraftEditor
 */
@import '../../parameters.scss';

.bulgur-draft-editor
{
    display: flex;

    flex-flow: column nowrap;
    align-items: stretch;
    .DraftEditor-root
    {
        overflow-y: auto;

        flex: 5;
    }

    .rich-buttons
    {
      display: flex;
      flex-flow: row nowrap;
      align-content: space-between;

      .buttons-group{
        &:first-of-type
        {
          flex: 1;
        }
      }
    }
}
