@import '../../../parameters.scss';

.new-story-dialog
{
    font-family: $main-font-stack;

    -webkit-user-select: none; /* Chrome/Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
            user-select: none;

         -o-user-select: none;
}

.new-story-dialog .new-story-dialog-step:not(:first-of-type)
{
    margin-top: $large-gutter;
    padding-top: $medium-gutter;

    border-top: 1px solid $background-intent;
}

.new-story-dialog .visualization-type-choice
{
    display: flex;

    padding: 0;

    flex-flow: row nowrap;
    justify-content: space-between;
}

.new-story-dialog .visualization-type-choice input
{
    display: none;
}
.new-story-dialog .visualization-type-choice .visualization-type-item
{
    display: flex;

    text-align: center;

    border: 1px solid $background-intent;

    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    padding: $medium-gutter;
}

.new-story-dialog .visualization-type-choice #visualization-type-checked
{
    background: $background-intent;
}

.new-story-dialog .data-source-choice
{
    display: flex;

    flex-flow: row nowrap;
}
.new-story-dialog .data-source-choice .data-source-file
{
    flex: 1;
}

.new-story-dialog .data-source-choice .data-source-examples
{
    flex: 1;
}

.new-story-dialog .data-source-choice .data-source-file .drop-zone
{
    width: 100%!important;
    margin-right: $large-gutter;
    padding-top: 5rem;
    padding-bottom: 5rem;

    text-align: center;

    background: $background-intent;
}

.new-story-dialog .data-source-choice .data-source-file .drop-zone-active
{
    width: 100%!important;
    margin-right: $large-gutter;
    padding-top: 5rem;
    padding-bottom: 5rem;

    text-align: center;

    color: $background-default;
    background: $primary-color;
}


.new-story-dialog .data-source-choice .data-source-example
{
    flex: 1;
}

.new-story-dialog .data-fields-choice
{
    display: flex;

    flex-flow: row nowrap;
}

/*
.new-story-dialog .data-fields-choice .data-fields-available
{
    padding: $large-gutter;

    border: 1px solid $background-intent;
}

.new-story-dialog .data-fields-choice .data-fields-available li
{
    margin-bottom: $base-gutter;
    padding: $base-gutter;

    list-style: none;

    background: $background-intent;
}
*/

.new-story-dialog .data-fields-choice .parameters-endpoints
{
    display: flex;

    padding: 0; //$large-gutter 0 $large-gutter;

    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.new-story-dialog .data-fields-choice .parameters-endpoints li
{
    display: inline-block;

    width: 30%;
    margin-bottom: $medium-gutter;
    padding: $medium-gutter;

    list-style: none;

    cursor: move;
    text-align: center;

    border: 1px dashed $background-intent;
}

.new-story-dialog .sample-file
{
    padding: $medium-gutter;

    cursor: pointer;

    border: 1px dashed $primary-color;
}

.new-story-dialog .sample-file:hover
{
    background: $background-intent;
}

.new-story-dialog .data-source-status
{
    margin-top: $medium-gutter;
    padding: $medium-gutter;

    text-align: center;
}

.new-story-dialog .data-source-status.loading
{
    background: $background-intent;
}

.new-story-dialog .data-source-status.loaded
{
    background: lightgreen;
}

.new-story-dialog .data-source-status.error
{
    color: $background-default;
    background: brown;
}
