/**
 * style definitions for the SlideSettingsPannel component
 *
 * @module bulgur/components/SlideSettingsPannel
 */
@import '../../parameters.scss';
.bulgur-settings-pannel
{
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    overflow: hidden;

    width: $legend-width;
    height: 100%;
    padding: 0 0 $gutter-medium 0;

    pointer-events: none;
    pointer-events: none;

    background: transparent;

    align-items: stretch;
    .settings-wrapper
    {
        display: flex;

        pointer-events: none;

        background: transparent;

        flex: 1;
        flex-flow: column nowrap;
        align-items: stretch;
        .settings-container
        {
            position: relative;

            flex: 1;
            .settings-contents
            {
                position: absolute;
                top: 0;
                left: $legend-width;

                display: flex;

                width: $legend-width;
                height: 100%;

                transition: all $time-short ease;

                border-left: 1px solid $color-sec-stroke;

                @extend .normal-item;
                flex-flow: column nowrap;
                align-items: stretch;
                &.visible
                {
                    left: 0;

                    pointer-events: all;
                }
            }
        }
        .open-pannel
        {
            padding: $gutter-medium;

            text-align: left;
            pointer-events: all;

            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
            &.active
            {
                @extend .important-item-active;
            }
        }
    }
    // components
    .settings-type-toggler
    {
        display: flex;

        margin: 0;
        padding: 0;

        flex-flow: row nowrap;
        align-items: stretch;
        li
        {
            padding: 0;
            padding: $gutter-medium;

            list-style-type: none;

            cursor: pointer;
            transition: all $time-short ease;

            flex: 1;
            @extend .important-item;
            &:hover
            {
                @extend .important-item-intent;
            }
            &.active
            {
                cursor: default;

                @extend .important-item-active;
            }
        }
    }
    .tab-contents
    {
        position: relative;
        left: 0;

        overflow: visible;

        transition: all $time-short ease;

        flex: 1;
        .tab
        {
            position: absolute;
            top: 0;

            overflow: auto;

            width: $legend-width;
            height: 100%;
            padding: $gutter-medium;
            h4
            {
                margin: $gutter-medium 0 $gutter-medium 0;
            }
        }
        .categories
        {
            left: 0;
        }
        .parameters
        {
            left: $legend-width;
            .datamap-container
            {
                margin-bottom: $gutter-large;
            }
            ul
            {
                padding: 0;
                padding: 0;
                li
                {
                    margin-bottom: $gutter-medium;
                    padding-left: 0;

                    list-style-type: 0;
                }
            }
        }
        &.parameters-active
        {
            left: -$legend-width;
        }
    }
}
