/**
 * style definitions for the SlideSettingsPannel component
 *
 * @module bulgur/components/SlideSettingsPannel
 */
@import '../../parameters.scss';
.bulgur-settings-pannel
{
    /*
     * root component
     */
    position: absolute;
    right: 0;
    bottom: 0;

    overflow: hidden;

    width: $legend-width;
    height: 100%;
    padding: 0 0 $gutter-medium 0;

    pointer-events: none;
    pointer-events: none;

    background: transparent;

    @extend .flex-stretched-column;

    /*
     * specific micro-components
     */
    .settings-type-toggler
    {
        margin: 0;
        padding: 0;

        @extend .flex-stretched-row;

        li
        {
            padding: 0;
            padding: $gutter-medium;

            list-style-type: none;

            cursor: pointer;

            @extend .animated;
            flex: 1;
            @extend .important-item;
            &:hover
            {
                @extend .important-item-intent;
            }
            &.active
            {
                cursor: default;

                @extend .important-item-active;
            }
        }
    }
    .tab-contents
    {
        position: relative;
        left: 0;

        overflow: visible;

        @extend .animated;
        flex: 1;
        .tab
        {
            overflow: auto;

            width: $legend-width;
            padding: $gutter-medium;

            @extend .absolute-stretched;
            h4
            {
                margin: $gutter-medium 0 $gutter-medium 0;
            }
        }
        .categories
        {
            left: 0;
        }
        .parameters
        {
            left: $legend-width;
            .datamap-container
            {
                margin-bottom: $gutter-large;
            }
            ul
            {
                padding: 0;
                padding: 0;
                li
                {
                    margin-bottom: $gutter-medium;
                    padding-left: 0;

                    list-style-type: 0;
                }
            }
        }
        &.parameters-active
        {
            left: -$legend-width;
        }
    }
    /*
     * secondary layout components
     */
    .settings-wrapper
    {
        pointer-events: none;

        background: transparent;

        @extend .flex-stretched-column;
        flex: 1;
        .settings-container
        {
            position: relative;

            flex: 1;
            .settings-contents
            {
                position: absolute;
                top: 0;
                left: $legend-width;

                width: $legend-width;
                height: 100%;

                border-left: 1px solid $color-sec-stroke;

                @extend .flex-stretched-column;
                @extend .animated;
                @extend .normal-item;
                &.visible
                {
                    left: 0;

                    pointer-events: all;
                }
            }
        }
        .open-pannel
        {
            padding: $gutter-medium;

            text-align: left;
            pointer-events: all;

            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
            &.active
            {
                @extend .important-item-active;
            }
        }
    }
}
