/**
 * style definitions for the ColorsMapPicker component
 *
 * @module bulgur/components/ColorsMapPicker
 */
@import '../../parameters.scss';

.bulgur-colors-map-picker
{
    .colors-map-group
    {
        padding: $base-gutter;
        .colors-map-item
        {
            display: flex;

            cursor: pointer;
            transition: all $time-short ease;

            flex-flow: column nowrap;


            &:hover
            {
                background: $background-intent;
            }

            .twitter-picker
            {
                width: 100%!important;
            }
            .color-card
            {
                display: flex;

                padding: $base-gutter;

                flex-flow: row nowrap;
                &.active
                {
                    border: 2px solid $primary-color;
                }
                .color
                {
                    width: 1rem;
                    min-width: 1rem;
                    height: 1rem;
                    margin-right: $base-gutter;
                }
            }

            &.hidden
            {
                .color,
                .category
                {
                    opacity: .2;
                }
            }
        }
    }
}
