/**
 * style definitions for the ColorsMapPicker component
 *
 * @module bulgur/components/ColorsMapPicker
 */
@import '../../parameters.scss';

.bulgur-ColorsMapPicker
{
    /*
     * secondary layout components
     */
    .colors-map-group
    {
        padding: $gutter-small;
        .colors-map-item
        {
            display: flex;

            cursor: pointer;

            @extend .animated;
            flex-flow: column nowrap;
            .twitter-picker
            {
                width: 100%!important;
            }
            .color-card
            {
                font-size: $font-size-2;

                margin-bottom: $gutter-small;
                padding: $gutter-small;

                cursor: pointer;

                border: 1px solid $color-sec-stroke;

                @extend .flex-stretched-row;

                .color
                {
                    position: relative;
                    top: $font-size-2/4;

                    width: $font-size-2;
                    min-width: $font-size-2;
                    height: $font-size-2;
                    margin-right: $gutter-medium;
                }
                .category
                {
                    flex: 1;
                }
                &:hover
                {
                    @extend .interactive-item-intent;
                }
                &.active
                {
                    @extend .interactive-item-active;
                }
            }
            &.hidden
            {
                .color,
                .category
                {
                    opacity: .2;
                }
            }
        }
    }
    .global-operations
    {
        display: flex;

        margin-bottom: $gutter-medium;

        flex-flow: row nowrap;
        button
        {
            flex: 1;
            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
            &.inactive,
            &.inactive:hover
            {
                @extend .normal-item-inactive;
            }
        }
    }
}
