/**
 * style definitions for the ColorsMapPicker component
 *
 * @module bulgur/components/ColorsMapPicker
 */
@import '../../parameters.scss';

.bulgur-ColorPicker
{
    margin-bottom: $gutter-medium;
    .slider-picker
    {
        border: 1px solid $color-sec-stroke;
        padding: $gutter-medium;
    }
    .buttons-container
    {
        display: flex;

        flex-flow: row nowrap;
        align-items: stretch;
        #save-color,
        #cancel
        {
            padding: $gutter-medium;

            flex: 1;
        }
        #save-color
        {
            @extend .important-item;
            &:hover
            {
                @extend .important-item-intent;
            }
        }
        #cancel
        {
            @extend .dangerous-item;
            &:hover
            {
                @extend .dangerous-item-intent;
            }
        }
    }
}

.bulgur-colors-map-picker
{
    .colors-map-group
    {
        padding: $gutter-small;
        .colors-map-item
        {
            display: flex;

            cursor: pointer;
            transition: all $time-short ease;

            flex-flow: column nowrap;
            .twitter-picker
            {
                width: 100%!important;
            }
            .color-card
            {
                font-size: $font-size-2;

                display: flex;

                margin-bottom: $gutter-small;
                padding: $gutter-small;

                cursor: pointer;

                border: 1px solid $color-sec-stroke;

                flex-flow: row nowrap;
                align-items: stretch;
                .color
                {
                    position: relative;
                    top: $font-size-2/4;

                    width: $font-size-2;
                    min-width: $font-size-2;
                    height: $font-size-2;
                    margin-right: $gutter-medium;
                }
                .category
                {
                    flex: 1;
                }
                &:hover
                {
                    @extend .interactive-item-intent;
                }
                &.active
                {
                    @extend .interactive-item-active;
                }
            }
            &.hidden
            {
                .color,
                .category
                {
                    opacity: .2;
                }
            }
        }
    }
    .global-operations
    {
        display: flex;

        margin-bottom: $gutter-medium;

        flex-flow: row nowrap;
        button
        {
            flex: 1;
            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
            &.inactive,
            &.inactive:hover
            {
                @extend .normal-item-inactive;
            }
        }
    }
}
