@import '../../parameters.scss';

.bulgur-settings-pannel
{
    position: relative;

    max-width: 0;
    margin: 0;
    padding: 0;

    background: transparent;

    .colors-map-picker-wrapper
    {
        position: absolute;
        top: 0;
        left: -20rem;

        width: 20rem;
        height: 100%;

        pointer-events: none;


        .colors-map-picker-container
        {
            position: absolute;
            bottom: $medium-gutter;
            left: 10%;

            width: 80%;

            pointer-events: all;

            background: $background-default;

            border: 1px solid $primary-color;
            max-height: 15rem;

            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;

            .bulgur-colors-map-picker
            {
                overflow-y: auto;
                flex: 5;
            }

            .open-pannel
            {
                text-align: left;
                padding: $medium-gutter;
                border-top: 1px solid $primary-color;

                &.active
                {
                    background: red;
                    color: white;
                }
            }
        }
    }

    .slide-parameters-wrapper
    {
        position: absolute;
        top: 0;
        left: 0;

        overflow: hidden;
        overflow: auto;

        height: 100%;
        margin: 0;
        padding: 0;

        border-left: 1px solid $primary-color;

        background: $color-dark;
        color: $background-default;

        .slide-parameters-container
        {
            h3,
            h4
            {
                margin: $medium-gutter;
            }
            .bulgur-datamap-picker
            {
                list-style-type: none;
                margin: $medium-gutter;
            }
        }
    }

    &.open
    {
        max-width: unset;
        .slide-parameters-container
        {
            width: 100%;
            max-width: 100%;
        }
    }
}
