/**
 * style definitions for the Toaster component
 *
 * @module bulgur/components/Toaster
 */
@import '../../parameters.scss';

.bulgur-ViewOptionPicker
{
    .slider-wrapper
    {
        .slider
        {
            height: $gutter-medium;

            cursor: pointer;

            @extend .interactive-item;

            .handle
            {
                width: $gutter-medium;
                height: $gutter-medium;

                border-radius: 50%;

                @extend .important-item;
            }
        }

        .active-value
        {
            display: inline-block;

            width: $gutter-large * 2;
            margin-top: $gutter-medium;
            padding: $gutter-small;

            @extend .interactive-item;
        }
    }
}
