@import '../../parameters.scss';


.bulgur-footer
{
    display: flex;

    padding: $medium-gutter $medium-gutter $base-gutter $medium-gutter;

    color: $background-default;
    // background: $background-default;
    border-top: 1px solid $primary-color;
    background: $color-dark;

    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    button
    {
        color: $background-default!important;
    }

    a,
    a:hover,
    a:active,
    a:visited
    {
        color: $background-default!important;
    }
}
