/**
 * style definitions for the DatamapPicker component
 *
 * @module bulgur/components/DatamapPicker
 */
@import '../../parameters.scss';

.bulgur-datamap-picker
{
    display: flex;

    padding: 0;

    border: #173e43;

    @extend .interactive-item;
    flex-flow: row nowrap;
    align-items: stretch;


    h5
    {
        display: flex;

        margin: 0;
        padding: $gutter-medium;

        flex: 1;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .select-container
    {
        position: relative;

        display: flex;

        background: white;

        @extend .normal-item;
        flex: 1;
        flex-flow: row nowrap;
        justify-content: space-between;
        justify-content: center;
    }
    &.active
    {
        @extend .important-item-active;
    }

    // components
    .Select
    {
        flex: 5;
        *
        {
            outline: none!important;
        }
        &.is-focused
        {
            border: none!important;
        }
        .Select-control
        {
            height: 100%;

            border: none;
            background: inherit;
        }

        .Select-menu-outer
        {
            border-radius: none!important;
        }

        .Select-placeholder,
        .Select-value
        {
            margin-top: $gutter-small;
        }
    }

    .data-field-coverage
    {
        font-size: $font-size-1;
        color: $background-intent;
    }
}
