/**
 * style definitions for the DatamapPicker component
 *
 * @module bulgur/components/DatamapPicker
 */
@import '../../parameters.scss';

.bulgur-datamap-picker
{
    padding: $base-gutter;

    background: $background-intent;
    &.active
    {
        background: $color-valid;
    }
}
