/**
 * style definitions for the Footer component
 *
 * @module bulgur/components/Footer
 */
@import '../../parameters.scss';

.bulgur-footer
{
    display: flex;

    padding: $medium-gutter;

    border-top: 1px solid $primary-color;

    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
}
