/**
 * style definitions for the Footer component
 *
 * @module bulgur/components/Footer
 */
@import '../../parameters.scss';

.bulgur-footer
{
    display: flex;

    padding: 0;

    border-top: 1px solid $color-sec-stroke;
    // background: $color-sec-bg;

    @extend .primary-item;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;

    .left-group
    {
        padding: $gutter-medium;
        padding-top: $gutter-medium;
        padding-bottom: 0;
    }

    .right-group
    {
        display: flex;

        width: $legend-width;

        flex-flow: row nowrap;
        align-items: stretch;
        button
        {
            padding: $gutter-medium;

            flex: 1;
            @extend .important-item;

            &:not(:first-of-type)
            {
                border-left: 1px solid #fff;
            }
            &:hover
            {
                @extend .important-item-intent;
            }
        }
    }
}
