/**
 * style definitions for the SlidesContainer component
 *
 * @module bulgur/components/SlidesContainer
 */
@import '../../parameters.scss';

.bulgur-slides-container
{
    /*
     * root component
     */
    margin: 0;
    padding: 0;
    padding-left: $gutter-medium;

    @extend .animated;
    /*
     * specific micro-components
     */
    li
    {
        min-height: 3rem;
        margin: $gutter-medium $gutter-medium $gutter-medium 0;

        list-style-type: none;
    }
    /*
     * secondary layout components
     */
    .bulgur-slide
    {
        display: flex;

        padding: $gutter-small;

        border: 1px solid $color-sec-stroke;

        flex-flow: row nowrap;
        @extend .interactive-item;
        .slide-content
        {
            display: flex;

            max-width: 100%;
            padding-right: $gutter-small;

            flex: 3;
            flex-flow: column nowrap;
            input,
            textarea
            {
                font-size: $font-size-1; // .7rem;

                padding: 0;
                padding-right: $gutter-small;
            }
            h3
            {
                margin: 0;
                margin-top: 0;
                padding: 0;

                border-bottom: 1px solid $color-sec-stroke;

                @extend .flex-stretched-row;
                @extend .animated;

                input
                {
                    border: none;

                    flex: 5;
                }
            }
            .comment-container
            {
                overflow: hidden;

                width: 100%;
                h3
                {
                    color: white;
                    border-bottom: 1px solid white;
                }
                textarea
                {
                    width: 100%;
                    margin-top: $gutter-small;

                    resize: none;
                }
            }
            .operations-container
            {
                font-size: $font-size-2;

                @extend .flex-stretched-row;
                justify-content: space-between;

                button:hover
                {
                    @extend .important-item;
                }
                .remove-btn
                {
                    &:hover
                    {
                        @extend .dangerous-item-intent;
                    }
                }
                .move-btn
                {
                    cursor: move;
                }
            }
        }
        // .bulgur-slide state-related modificators
        &:hover
        {
            @extend .interactive-item-intent;
            h3
            {
                border-bottom: 1px solid $color-very-dark;
            }
        }
        &.active
        {
            @extend .interactive-item-active;
            h3
            {
                border-bottom: 1px solid $color-very-dark;
            }
        }
        &:hover.active
        {
            @extend .interactive-item-intent-active;
        }
        &.dragged
        {
            opacity: .3;

            @extend .interactive-item-inactive;
        }
    }
    .add-slide
    {
        .first-slide
        {
            border: none;

            @extend .important-item;
            &:hover
            {
                @extend .important-item-intent;
            }
        }
        button
        {
            display: block;

            width: 100%;
            padding: $gutter-medium;

            border: 1px solid $color-sec-stroke;

            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
        }
    }
}
