/**
 * style definitions for the SlidesContainer component
 *
 * @module bulgur/components/SlidesContainer
 */
@import '../../parameters.scss';

.bulgur-slides-container
{
    margin: 0;
    padding: 0;
    padding-left: $medium-gutter;

    transition: all $time-short ease;
    li
    {
        min-height: 3rem;
        margin: $medium-gutter $medium-gutter $medium-gutter 0;

        list-style-type: none;
    }
    .bulgur-slide
    {
        display: flex;

        padding: $base-gutter;

        border: 1px solid #dddbd9;

        flex-flow: row nowrap;
        @extend .interactive-item;
        &:hover
        {
            @extend .interactive-item-intent;
        }
        &.active
        {
            @extend .interactive-item-active;
        }
        &:hover.active
        {
            @extend .interactive-item-intent-active;
        }

        &.dragged
        {
            opacity: .3;

            @extend .interactive-item-inactive;
        }

        .slide-content
        {
            display: flex;

            max-width: 100%;
            padding-right: $base-gutter;

            flex: 3;
            flex-flow: column nowrap;
            input,
            textarea
            {
                font-size: .7rem;

                padding-right: $base-gutter;
            }
            h3
            {
                display: flex;

                margin: 0;
                margin-top: 0;
                padding: 0;

                border-bottom: 1px solid #dddbd9;

                flex-flow: row nowrap;
                align-items: stretch;
                input
                {
                    border: none;

                    flex: 5;
                }
            }
            .comment-container
            {
                overflow: hidden;

                width: 100%;
                h3
                {
                    color: white;
                    border-bottom: 1px solid white;
                }
                textarea
                {
                    width: 100%;
                    margin-top: $base-gutter;

                    resize: none;
                }
            }
            .operations-container
            {
                font-size: .6rem!important;

                display: flex;

                flex-flow: row nowrap;
                align-items: stretch;
                justify-content: space-between;

                button:hover
                {
                    color: $background-default!important;
                    background: $primary-color!important;
                }
                .remove-btn
                {
                    &:hover
                    {
                        color: white!important;
                        background: red!important;
                    }
                }
                .move-btn
                {
                    cursor: move;
                }
            }
        }
    }
    .add-slide
    {

        .first-slide
        {
            @extend .important-item;
            border: none;
            &:hover
            {
                @extend .important-item-intent;
            }
        }
        button
        {
            display: block;

            width: 100%;
            padding: $base-gutter;

            border: 1px solid #dddbd9;

            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }
        }
    }
}
