/**
 * style definitions for the MainViewLayout component
 *
 * @module bulgur/features/PresentationEditor
 */
@import '../../../parameters.scss';

/*
 * Layout
 */

.bulgur-aside-view
{
    /*
     * root component
     */
    display: flex;
    overflow: hidden;
    flex-direction: column;

    border-right: 1px solid $color-sec-stroke;
    background: $color-sec-bg;
    /*
     * secondary layout components
     */
    .aside-header
    {
        display: flex;
        flex-flow: column nowrap;
        button
        {
            padding: $gutter-medium;

            text-align: left;
        }
        .returnToLanding-btn
        {
            @extend .primary-item;

            .bulgur-icon
            {
                padding-right: $gutter-small;
            }
            &:hover
            {
                @extend .primary-item-intent;
            }
        }
        .settings-btn
        {
            img
            {
                position: relative;
                top: $gutter-small;
            }
        }
    }
    .bulgur-SlidesContainer
    {
        overflow: auto;
        flex: 5;

        max-height: 100%;
    }
     > button
    {
        display: block;

        padding: $gutter-medium 0 $gutter-medium $gutter-medium;

        text-align: left;
    }
     > button:first-of-type
    {
        border-bottom: 1px solid $primary-color;
    }
     > button:last-of-type
    {
        border-top: 1px solid $primary-color;
    }
}
