/**
 * style definitions for the MainViewLayout component
 *
 * @module bulgur/features/PresentationEditor
 */
@import '../../../parameters.scss';

/*
 * Layout
 */

.bulgur-main-view
{
    /*
     * root component
     */
    display: flex;

    flex-flow: column nowrap;
    /*
     * secondary layout components
     */
    .visualizations-row
    {
        position: relative;

        display: flex;

        flex-flow: row nowrap;
        flex: 2;

        .bulgur-SlideSettingsPannel
        {
            flex: 1;
        }

        .visualizations-container
        {
            position: relative;

            display: flex;
            overflow: hide;

            flex: 5;
            flex-flow: row nowrap;
            .visualization-container
            {
                height: 100%;

                flex: 1;
            }
        }
    }

    .caption-container
    {
        position: relative;

        max-height: 40%;
        padding: $gutter-medium;
        padding-top: 0;
        padding-right: 0;

        border-top: 1px solid $color-sec-stroke;
        background: $color-sec-bg;

        @extend .flex-stretched-column;
        flex: 1;

        .caption-header
        {
            overflow: hidden;

            padding-bottom: $gutter-small;

            border-bottom: 1px solid $color-sec-stroke;

            @extend .flex-stretched-row;

            h1
            {
                margin: 0;
                padding: 0;
                padding-top: $gutter-small;
                padding-right: $gutter-small;

                flex: 5;
                input
                {
                    font-size: $font-size-2;

                    width: 100%;
                    height: 3rem;
                }
            }
        }

        .caption-editor
        {
            display: flex;

            width: 100%;
            height: 100%;
            margin: 0;

            flex: 5;
            flex-grow: row nowrap;
            .editor-areas-container
            {
                margin-right: $gutter-small;

                @extend .flex-stretched-column;
                flex: 8;
            }

            .editor-helpers li
            {
                padding: 0;

                list-style: none;
            }

            .editor-areas-container
            {
                font-family: $display-font-stack;
                font-size: 1.5rem;

                flex: 1;

                .bulgur-draft-editor
                {
                    height: 100%;
                }
            }
        }
    }

    /*
     * Specific components styling
     */

    .view-operations
    {
        overflow: hidden;

        width: $legend-width;

        @extend .flex-stretched-row;
        @extend .animated;

        button
        {
            padding: $gutter-medium;

            cursor: default;

            opacity: .1;

            @extend .animated;
            flex: 1;
            @extend .interactive-item;
            &:hover
            {
                @extend .interactive-item-intent;
            }

            &#take-snapshot-btn
            {
                @extend .important-item;
                &.inactive
                {
                    @extend .important-item-inactive;
                }
                &:hover:not(.inactive)
                {
                    @extend .important-item-intent;
                }
            }
        }

        // .view-operations state modificators
        &.visible
        {
            button
            {
                cursor: pointer;

                opacity: 1;
            }
        }
    }
}
