/**
 * style definitions for the PresentationEditorLayout component
 *
 * @module bulgur/features/PresentationEditor
 */

@import '../../../parameters.scss';

/*
 * Primary layout
 */

.bulgur-PresentationEditorLayout
{
    /*
     * root component
     */
    font-family: $main-font-stack;
    font-size: $font-size-2;

    position: relative;

    display: flex;
    flex-direction: row;

    @extend .flex-stretched-column;
    @extend .normal-item;
    flex-wrap: nowrap;
    flex: 10;
    .bulgur-aside-view
    {
        max-width: 20%;

        flex: 1;
    }
    .bulgur-main-view
    {
        min-width: 80%;
        margin: 0;

        flex: 4;
    }
}
