/**
 * style definitions for the TakeAwayDialogLayout component
 *
 * @module bulgur/features/ConfigurationDialog
 */
@import '../../../parameters.scss';

.bulgur-ConfigurationDialogLayout
{
    /*
     * root component
     */
    font-family: $main-font-stack;

    display: flex;
    flex-direction: column;

    -webkit-user-select: none; /* Chrome/Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
            user-select: none;

         -o-user-select: none;
    /*
     * specific micro-components
     */
    ul
    {
        padding: 0;
    }
    pre
    {
        overflow-y: auto;

        max-height: 20rem;
        margin: 0;
        padding: $gutter-medium;

        white-space:      pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space:   -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */

        @extend .primary-item;
        flex: 1;
    }
    h4
    {
        font-size: $font-size-3;
    }
    h5
    {
        font-size: $font-size-2;

        margin-top: 0;
    }
    input[type='text'],
    textarea
    {
        font-family: $editable-font-stack;
        font-size: $font-size-2;

        padding: $gutter-medium;

        resize: none;
        cursor: text;

        border: none;
        outline: none;

        @extend .animated;
        @extend .interactive-item;

        &:hover
        {
            @extend .interactive-item-intent;
        }
        &:focus
        {
            @extend .interactive-item-active;
        }
    }

    .input-group
    {
        display: flex;

        flex-flow: column nowrap;
        &:not(:last-of-type)
        {
            margin-bottom: $gutter-medium;
        }
        label
        {
            margin-bottom: $gutter-small;
        }
    }

    .bulgur-Toaster
    {
        margin-top: $gutter-medium;
    }
    /*
     * secondary layout components
     */
    .sample-files-container
    {
        display: flex;

        flex-flow: row wrap;
        align-items: space-between;

        .sample-file
        {
            min-width: 30%;
            padding: 0 $gutter-medium $gutter-medium 0;

            @extend .flex-stretched-column;
            flex: 1;
            .sample-file-content
            {
                display: flex;

                padding: $gutter-medium;

                flex: 1;
                @extend .interactive-item;
                flex-flow: column nowrap;
                justify-content: space-between;

                p
                {
                    margin: 0;
                    margin-bottom: $gutter-small;
                }
                h3
                {
                    font-size: $font-size-3;

                    margin-top: 0;
                    margin-bottom: $gutter-small;
                }
                div
                {
                    margin-bottom: $gutter-medium;
                }
                &:hover
                {
                    @extend .interactive-item-intent;
                }
            }
        }
    }

    .bulgur-DatamapPicker
    {
        margin-bottom: $gutter-medium;
    }

    .remove-dataset
    {
        margin-top: $gutter-medium;
        padding: $gutter-medium;

        @extend .interactive-item;
        &:hover
        {
            @extend .dangerous-item-intent;
        }
    }
    .data-source-type-toggler
    {
        margin: 0;
        padding: 0;

        @extend .flex-stretched-row;

        li
        {
            padding: 0;
            padding: $gutter-medium;

            list-style-type: none;

            cursor: pointer;

            @extend .animated;
            flex: 1;
            @extend .important-item;
            &:hover
            {
                @extend .important-item-intent;
            }
            &.active
            {
                cursor: default;

                @extend .important-item-active;
            }
        }
    }

    // secondary layout
    .modal-columns-container
    {
        position: relative;

        display: flex;

        flex-flow: row nowrap;

        .modal-column
        {
            @extend .flex-stretched-column;
            flex: 1;
            &:not(:first-of-type)
            {
                margin-left: $gutter-large;
            }
        }
    }

    .data-source-choice
    {
        margin-top: $gutter-medium;
    }

    // tertiary layout
    .dataset-data
    {
        .bulgur-DropZone
        {
            flex: 1;
        }
    }

    .dataset-preview
    {
        max-width: 33%;
        .svg-preview-container
        {
            svg
            {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .final-touch-container
    {
        overflow-y: auto;

        max-height: 100%;
    }

    .preview
    {
        position: relative;

        width: 100%;
        max-height: 30rem;

        border: 1px solid $color-sec-stroke;

        flex: 1;

        .spatialization-controls
        {
            position: relative;

            @extend .flex-stretched-row;

            #save-nodes,
            #spatialize-nodes
            {
                padding: $gutter-medium;

                cursor: pointer;

                @extend .animated;
                flex: 1;
            }
            #spatialize-nodes
            {
                @extend .important-item;
                &:hover
                {
                    @extend .important-item-intent;
                }

                &.active
                {
                    @extend .dangerous-item;
                    &:hover
                    {
                        @extend .dangerous-item-intent;
                    }
                }
            }
            #save-nodes
            {
                @extend .important-item;
                &:hover
                {
                    @extend .important-item-intent;
                }

                &:active
                {
                    @extend .important-item-intent-active;
                }
            }
        }
    }

    .modal-footer
    {
        @extend .flex-stretched-row;
        .valid-btn
        {
            font-size: $font-size-3;

            @extend .important-item;
            flex: 1;
            &:hover
            {
                @extend .important-item-intent;
            }
        }
    }
}
