@import './parameters.scss';

html
{
    font-size: 12px;

    min-height: 100%;
}

/*
 * Bulgur positionning and dimensionning
 */
.bulgur
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/*
 * Responsive layout adjustments
 */
@media #{$breakpoint-phone}
{
    html
    {
        font-size: 20px;
    }
}

.ReactModal__Overlay
{
    display: flex;

    align-items: center;
}

.ReactModal__Content
{
    top: unset!important;
    bottom: unset!important;

    max-height: 90%;
}
