@import './parameters.scss';

html
{
    min-height: 100%;
    font-size: 12px;
}

/*
 * Bulgur positionning and dimensionning
 */
.bulgur
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/*
 * Responsive layout adjustments
 */
@media #{$breakpoint-phone}
{
  html
  {
      font-size: 20px;
  }
}