/**
 * global style parameters for the whole app
 *
 * @module bulgur
 */
$main-font-stack: 'Source Code Pro', sans-serif;
$display-font-stack: 'Source Sans Pro', serif;
//colors
$primary-color: #333;
$background-default: #f4f4f4;
$background-intent: #d6cfc4;

$color-dark: #353635;
$color-light: #fff;
$color-valid: #68ce74;
$color-error: brown;
// gutters
$base-gutter: .3rem;
$medium-gutter: $base-gutter * 2.66;
$large-gutter: $medium-gutter * 2.66;
//responsive breakpoints
$breakpoint-phone: only screen and (min-device-width : 320px) and (max-device-width : 480px);
$breakpoint-tablet: only screen and (min-device-width : 768px) and (max-device-width : 1024px);
