/**
 * style definitions for the TakeAwayDialogLayout component
 *
 * @module bulgur/features/TakeAwayDialog
 */

@import '../../../parameters.scss';

.bulgur-take-away-dialog-layout
{
    font-family: $main-font-stack;

    -webkit-user-select: none; /* Chrome/Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
            user-select: none;

         -o-user-select: none;

    .take-away-dialog-step:not(:first-of-type)
    {
        margin-top: $large-gutter;
        padding-top: $medium-gutter;

        border-top: 1px solid $primary-color;
    }

    .take-away-type-choice
    {
        display: flex;

        padding: 0;

        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .take-away-type-choice input
    {
        display: none;
    }
    .take-away-type-choice .take-away-type-item
    {
        display: flex;

        padding: $medium-gutter;

        text-align: center;

        border: 1px solid $primary-color;

        flex: 1;
        flex-flow: column nowrap;
        align-items: center;

        &:not(:first-of-type)
        {
            border-left: none;
        }
    }

    .take-away-type-choice .take-away-type-item:hover
    {
        background: $background-intent;
    }

    .pub-links
    {
        .pub-link
        {
            text-align: center;

            a
            {
                display: inline-block;

                padding: $medium-gutter;

                text-decoration: none;
                text-transform: uppercase;

                color: inherit;
                background: inherit;
                background: lightblue;
                &:hover
                {
                    color: white;
                    background: darkblue;
                }
            }
        }
    }

    .take-away-log
    {
        padding: $medium-gutter;

        text-align: center;
    }
}
