/**
 * style definitions for the MainViewLayout component
 *
 * @module bulgur/features/Editor
 */
@import '../../../parameters.scss';

/*
 * Layout
 */

.bulgur-aside-view
{
    display: flex;
    overflow: hidden;
    flex-direction: column;

    border-right: 1px solid $color-sec-stroke;
    background: $color-sec-bg;
    .aside-header
    {
        display: flex;

        flex-flow: column nowrap;
        button
        {
            padding: $medium-gutter;

            text-align: left;
        }
        .returnToLanding-btn
        {
            @extend .primary-item;

            .bulgur-icon
            {
                padding-right: $base-gutter;
            }
            &:hover
            {
                @extend .primary-item-intent;
            }
        }
        .settings-btn
        {
            img
            {
                position: relative;
                top: $base-gutter;
            }
        }
    }
    .bulgur-slides-container
    {
        overflow: auto;

        max-height: 100%;

        flex: 5;
    }
    > button
    {
        display: block;

        padding: $medium-gutter 0 $medium-gutter $medium-gutter;

        text-align: left;
    }
    > button:first-of-type
    {
        border-bottom: 1px solid $primary-color;
    }
    > button:last-of-type
    {
        border-top: 1px solid $primary-color;
    }
}
