/**
 * style definitions for the EditorLayout component
 *
 * @module bulgur/features/Editor
 */

@import '../../../parameters.scss';

/*
 * Primary layout
 */

.bulgur-editor
{
    font-family: $main-font-stack;
    font-size: 1rem;

    display: flex;
    flex-direction: column;

    color: $primary-color;
    background: $background-default;

    flex-wrap: nowrap;

    input,
    textarea,
    button
    {
        transition: all .5s ease;
    }

    .bulgur-main-row
    {
        position: relative;

        display: flex;
        flex-direction: row;

        flex-wrap: nowrap;
        flex: 10;
        .bulgur-aside-view
        {
            max-width: 20%;

            flex: 1;
        }

        .bulgur-main-view
        {
            min-width: 80%;
            margin: 0;

            flex: 4;
        }
    }

    .bulgur-footer
    {
        z-index: 1;

        max-height: 2rem;

        flex: 1;
    }

    .bulgur-icon-image
    {
        display: inline;

        width: 1em;
        height: 1em;
        padding-right: .5em;
    }

    /*
     * Generic components styling
     */
    a,
    a:hover,
    a:visited,
    a:active
    {
        color: inherit;
    }

    button,
    input,
    textarea
    {
        font-family: inherit;
        font-size: 1rem;

        border: none;
        outline: none;
        background: inherit;
    }

    button:hover,
    input:hover,
    textarea:hover,
    input:focus,
    textarea:focus
    {
        cursor: pointer;

        background: $background-intent;
    }
}

.ReactModal__Content.ReactModal__Content--after-open
{
    border: 1px solid $primary-color!important;
    border-radius: 0!important;
    button
    {
        margin-right: $medium-gutter;
        padding: $medium-gutter;

        color: $primary-color;
        border: 1px solid $primary-color;
        outline: none;
        background: inherit;
    }
}

/*
 * Responsive layout adjustments
 */

@media #{$breakpoint-phone}
{
    .bulgur
    {
        flex-direction: column;
    }

    .bulgur .bulgur-aside-view
    {
        flex-direction: row;

        max-width: 100%;

        order: 2;
    }
    .bulgur .bulgur-aside-view .quinoa-editor
    {
        flex: 1;
    }
}
@media #{$breakpoint-tablet}
{
}
