/**
 * style definitions for the MainViewLayout component
 *
 * @module bulgur/features/Editor
 */
@import '../../../parameters.scss';

/*
 * Layout
 */

.bulgur-main-view
{
    display: flex;

    flex-flow: column nowrap;

    .visualizations-row
    {
        position: relative;

        display: flex;

        flex-flow: row nowrap;
        flex: 2;

        .bulgur-settings-pannel
        {
            flex: 1;
        }

        .visualizations-container
        {
            position: relative;

            display: flex;
            overflow: hide;

            flex: 5;
            flex-flow: row nowrap;
            .visualization-container
            {
                height: 100%;

                flex: 1;
            }
        }
    }

    .caption-container
    {
        position: relative;

        background: #f4f4f4;

        display: flex;

        max-height: 40%;
        padding: $medium-gutter;
        padding-top: 0;
        padding-right: 0;

        border-top: 1px solid #dddbd9;

        flex: 1;
        flex-flow: column nowrap;
        align-items: stretch;

        .caption-header
        {
            display: flex;
            overflow: hidden;

            padding-bottom: $base-gutter;

            border-bottom: 1px solid #dddbd9;

            align-items: stretch;
            flex-flow: row nowrap;
            h1
            {
                margin: 0;
                padding: 0;
                padding-top: $base-gutter;
                padding-right: $base-gutter;

                flex: 5;
                input
                {
                    font-size: 1.5rem;

                    width: 100%;
                    height: 3rem;
                }
            }
        }

        .caption-editor
        {
            display: flex;

            width: 100%;
            height: 100%;
            margin: 0;

            flex: 5;
            flex-grow: row nowrap;
            .editor-areas-container
            {
                display: flex;

                margin-right: $base-gutter;

                flex: 8;
                flex-flow: column nowrap;
                align-items: stretch;
            }

            .editor-helpers li
            {
                padding: 0;

                list-style: none;
            }

            .editor-areas-container
            {
                font-family: $display-font-stack;
                font-size: 1.5rem;

                flex: 1;

                .bulgur-draft-editor
                {
                    height: 100%;
                }
            }
        }
    }

    /*
     * Specific components styling
     */

    .view-operations
    {
        overflow: hidden;

        max-width: 0;
        max-height: 4rem;

        transition: all $time-short ease;
        &.visible
        {
            max-width: 100%;
        }
        button
        {
            height: 4rem;
            padding: $medium-gutter;
            // border-bottom: none;

            transition: all $time-short ease;


            @extend .interactive-item;
            &:hover{
                @extend .interactive-item-intent;
            }

            &#take-snapshot-btn
            {
                @extend .important-item;
                &.inactive
                {
                    @extend .important-item-inactive;
                }
                &:hover:not(.inactive)
                {
                    @extend .important-item-intent;
                }
            }
        }
    }
}
